*{  
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

body{
    width: 100%;
    height: 100%;
    font: normal 15pt Arial;
}

header{
    color: white;
    

}

section{
    width: 70%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    padding: 20px;
    margin: 20px;

}


#msg{
    margin: 10px 0;
    font-size: 1.5em;

}


footer{
    color: white;
    font-style: italic;
    margin-top: 10px;
}

@media only screen and (min-width: 600px){

    section{
        width: 25%;

    }

    img{
        width: 80%;
    }

}